/* Inizio regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
.flex{
    display: flex;
}
.direzione-colonna{
    flex-direction: column;
}
.direzione-riga{
    flex-direction: row;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}
.flex-start{
    align-content: flex-start;
}
.flex-end{
    align-content: flex-end;
}
span{
    display: block;
}
/* Fine regole generali */



/* Inizio main */
main{
    height: calc(100% - 100px);
    background-color: #141922;
}
main::after{
    content: '';
    display: table;
    clear: both;   
}



/* Inizio sidebar-top */
.sidebar{
    height: 100%;
    float: left;
    width: 300px;
    background-color: #000000;
}
.sidebar-top{
    height: calc(100% - 200px);
    min-height: 300px;
    background-color: #000000;
    overflow-y: hidden;
}
.logo-sidebar{
    height: 100px;
}
.logo-small{
    width: 180px;
    margin-left: 25px;
}
.icona{
    width: 40px;
    margin-left: 25px;
    filter: brightness(0%) contrast(0%);
}
.testo-side{
    color: grey;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
}
.testo-play{
    color: white;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.icona-playlist{
    color: black;
    font-size: 20px;
    padding: 10px;
    background-color: gray;
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 25px;
}
.sidebar nav{
    margin-left: 25px;
    line-height: 30px;
    font-size: 14px;
    overflow-y: hidden;
}
.sidebar nav ul li a{
    text-decoration: none;
    color: gray;
}
.sidebar nav ul {
    list-style-type: none;
    overflow: auto;
    height: 26vh;
}
/* Fine sidebar-top */



/* Inizio sidebar-bot */
.sidebar-bot{
    height: 100px;
    background-color: #000000;  
}
.freccia-installa{
    color: grey;
    margin-right: 5px;
}
.testo-installa{
    color: gray;
    display: inline-block;
    font-size: 15px;
}
.sidebar-bot a{
    text-decoration: none;
    display: block;
    border-bottom-style: solid ;
    border-color: gray;
    border-width: 1px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.btn-installa{
    width: 80%;
    margin: 0 25px;
}
.icona-profilo{
    width: 25px;
    padding: auto;
    background-color: gray;
    border-radius: 50%;
    margin-left: 25px;
}
.testo-profilo{
    color: white;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    margin-left: 5px;
}
/* Fine sidebar-bot */



/* Inizio contenitore-main */
.contenitore-main{
    overflow: auto;
    float: left;
    height: 100%;
    width: calc(100% - 300px);
    
}
.upgrade-bar{
    height: 100px;
    width: calc(100vw - 300px);
    background-color: rgba(00, 00, 00, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    text-align: right;
    line-height: 100px;
}
.btn-upgrade{
    border: solid 1px white;
    border-radius: 20px;
    padding: 15px 40px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin-right: 45px;
    transition: 0.6s ease;
}
.contenitore-main .upgrade-bar a:hover {
    font-size: 17px;
}
.contenitore-nav-album{
    padding-top: 120px;
    position: relative;
}
.contenitore-nav-album .contenitore-nav-album-list li a.bordino-verde::after{
    content: '';
    height: 2px;
    width: 40px;
    background-color: #94dd25;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.contenitore-nav-album ul li{
    line-height: 50px;
    margin: 0 20px;
    list-style-type: none;
}
.contenitore-nav-album ul li a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
    font-weight: bold;
}
.album-recenti{
    margin-left: 15px;
    margin-right: 15px;
}
.testo-played{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 25px;
}
.contenitore-album {
    width: calc(100% / 6);  
    text-align: center;
    margin: 10px 10px;
}
.contenitore-album img{
    width: 100%;
    margin-bottom: 15px;
}
.info-album{
    align-self: center;
}
.genere{
    color: white;
    font-size: 17px;
    font-weight: bold;
}
.artista{
    color: gray;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}
.testo-played2{
    color: gray;
    font-size: 13px;
    font-weight: bold;
    margin: 15px 25px;
}
.img-radius{
    border-radius: 50%;
}

/* Fine contenitore-main */

/* Fine main */



/* Inizio footer */
footer{
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #282828;
    justify-content: space-between;
    overflow: hidden;
}
.img-brano{
    width: 60px;
    margin-left: 25px;
    margin-right: 15px;
}
.info-brano{
    margin-right: 40px;
}
.nome-artista{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.nome-brano{
    color: gray;
    font-size: 12px;
}
.font-footer{
    color: gray;
}
.margin-fold{
    margin-right: 10px;
}
.font-play{
    color: white;
    margin-right: 40px;
    font-size: 18px;
    align-self: center;
}
.fa-redo-alt{
    margin-right: 0;
}
.fa-play-circle{
    font-size: 30px;
}
.margine-play{
    margin: 15px 0px;
}
.player{
    color: white;
    font-size: 12px;
    margin: 5px;
}
.barra{
    height: 5px;
    width: 35vw;
    border-radius: 5px;
    background-color: gray;
}
.font-volume{
    color: white;
    margin-right: 15px;
    font-size: 13px;
}
.barra-volume{
    height: 4px;
    width: 8vw;
    border-radius: 5px;
    background-color: gray;
}
/* Fine footer */



/* Regole di hover */
.hover-album{
    position: relative;
    width: 100%;
}
.hover-album:hover img {
    opacity: 0.3;
}
.play-center {
    transition: .7s ease;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 51%;
    transform: translate(-50%, -50%);   
}
.hover-album:hover .play-center {
    opacity: 1;
}
.play-button{
    color: white;
    font-size: 5vw;
}

