/* Inizio regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
.flex{
    display: flex;
}
.direzione-colonna{
    flex-direction: column;
}
.direzione-riga{
    flex-direction: row;
}
.flex-center{
    align-items: center;
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}
.flex-start{
    align-content: flex-start;
}
.flex-end{
    align-content: flex-end;
}
span{
    display: block;
}
.pointer{
    cursor: pointer;
}
/* Fine regole generali */



/* Inizio main */
main{
    height: calc(100% - 100px);
    background-color: #141922;
}
main::after{
    content: '';
    display: table;
    clear: both;   
}



/* Inizio sidebar-top */
.sidebar{
    height: 100%;
    float: left;
    width: 250px;
    background-color: #000000;
}
.sidebar-top{
    height: calc(100% - 200px);
    min-height: 300px;
    background-color: #000000;
    overflow-y: hidden;
}
.logo-sidebar{
    height: 100px;
}
.logo{
    width: 180px;
    margin-left: 25px;
}
.logo-small{
    width: 35px;
    display: none;
    margin-left: 13px;
}
.margine-left-25px{
    margin-left: 25px;
}
.bordo-home{
    border-left: 2px solid #94dd25;
}
.lista-tasti-menu ul li{
    padding: 5px 0px; 
}
.point{
    width: 55%;
    height: 50px;
}
.point2{
    width: 75%;
    height: 50px;
}
.sidebar .lista-tasti-menu ul li .testo-side{
   display: inline-block;
   vertical-align: top;
   line-height: 40px;
}
.sidebar .lista-tasti-menu ul li a img{
    width: 40px;
}
.img-icone{
    filter: brightness(50%);
}
.testo-side2{
    color: white;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
}
.sidebar .lista-tasti-menu ul li a{
    text-decoration: none;
}
.icona-playlist{
    color: black;
    font-size: 20px;
    padding: 10px;
    background-color: gray;
    margin-left: 25px;
    margin-right: 10px;
    margin-bottom: 25px;
}
.testo-side{
    color: grey;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
}
.testo-side1{
    color: grey;
    display: inline-block;
    vertical-align: top;
    line-height: 40px;
}
.testo-play{
    color: white;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.play-add a{
    text-decoration: none;
    padding: 10px 0px;
}
.sidebar .lista-play-side{
    margin-left: 25px;
    line-height: 30px;
    font-size: 14px;
    overflow-y: hidden;
}
.sidebar .lista-play-side ul li a{
    text-decoration: none;
    color: gray;
    padding: 5px 0px;
}
.sidebar .lista-play-side ul {
    list-style-type: none;
    overflow: auto;
    height: 24vh;
}
/* Fine sidebar-top */



/* Inizio sidebar-bot */
.sidebar-bot{
    height: 100px;
    background-color: #000000;  
}
.freccia-installa{
    color: grey;
    margin-right: 5px;
}
.testo-installa{
    color: gray;
    display: inline-block;
    font-size: 15px;
}
.sidebar-bot a{
    text-decoration: none;
    display: block;
    border-bottom-style: solid ;
    border-color: gray;
    border-width: 1px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.btn-installa{
    width: 80%;
    margin: 0 25px;
}
.icona-profilo{
    width: 25px;
    padding: auto;
    background-color: gray;
    border-radius: 50%;
    margin-left: 25px;
}
.testo-profilo{
    color: white;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    line-height: 30px;
    margin-left: 5px;
}
/* Fine sidebar-bot */



/* Inizio contenitore-main */
.contenitore-main{
    overflow: auto;
    float: left;
    height: 100%;
    width: calc(100% - 250px);  
}
.upgrade-bar{
    height: 100px;
    width: calc(100vw - 250px);
    background-color: rgba(00, 00, 00, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    text-align: right;
    line-height: 100px;
}
.btn-upgrade{
    border: solid 1px white;
    border-radius: 20px;
    padding: 15px 40px;
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin-right: 45px;
    transition: 0.7s ease;
}
.contenitore-main .upgrade-bar a:hover {
    font-size: 16px;
}
.contenitore-nav-album ul{
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.contenitore-nav-album .contenitore-nav-album-list li a.bordino-verde::after{
    content: '';
    height: 2px;
    width: 40px;
    background-color: #94dd25;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.contenitore-nav-album ul li{
    line-height: 25px;
    margin: 0 20px;
    list-style-type: none;
    position: relative;
}
.contenitore-nav-album ul li a{
    text-decoration: none;
    color: gray;
    font-size: 12px;
    font-weight: bold;
}
.album-recenti{
    margin-left: 15px;
    margin-right: 15px;
}
.testo-played{
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 10px;
    margin-left: 25px;
}
.contenitore-album {
    width: calc(100% / 6 - 20px);  
    text-align: center;
    margin: 10px 10px;
}
.contenitore-album img{
    width: 100%;
    margin-bottom: 15px;
}
.info-album{
    align-self: center;
}
.genere{
    color: white;
    font-size: 17px;
    font-weight: bold;
}
.artista{
    color: gray;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
}
.testo-played2{
    color: gray;
    font-size: 13px;
    font-weight: bold;
    margin: 15px 25px;
}
.img-radius{
    border-radius: 50%;
}
/* Fine contenitore-main */

/* Fine main */



/* Inizio footer */
footer{
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    background-color: #282828;
    justify-content: space-between;
    overflow: hidden;
}
.img-brano{
    width: 60px;
    margin-left: 25px;
    margin-right: 15px;
}
.info-brano{
    margin-right: 40px;
}
.nome-artista{
    color: white;
    font-weight: bold;
    font-size: 15px;
}
.nome-brano{
    color: gray;
    font-size: 12px;
}
.font-footer{
    color: gray;
}
.margin-fold{
    margin-right: 10px;
}
.font-play{
    color: white;
    margin-right: 40px;
    font-size: 18px;
    align-self: center;
}
.fa-redo-alt{
    margin-right: 0;
}
.fa-play-circle{
    font-size: 30px;
}
.margine-play{
    margin: 15px 0px;
}
.player{
    color: white;
    font-size: 12px;
    margin: 5px;
}
.barra{
    height: 6px;
    width: 35vw;
    border-radius: 5px;
    cursor: pointer;
    background-color: gray;
}
.barra-verde{
    height: 6px;
    width: 10vw;
    border-radius: 5px;
    background-color: white;
    position: relative;
    padding: 2px 0px;
}
.pallino-barra{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #94dd25;
    position: absolute;
    bottom: -5px;
    left: 9.5vw;
    display: none;
}
.barra-volume{
    height: 6px;
    width: 8vw;
    border-radius: 5px;
    cursor: pointer;
    background-color: gray;   
}
.barra-verde-volume{
    height: 6px;
    width: 3vw;
    border-radius: 5px;
    background-color: white;
    position: relative;
    padding: 2px 0px;
}
.pallino-barra-volume{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #94dd25;
    position: absolute;
    bottom: -5px;
    left: 2.5vw;
    display: none;
}
.font-volume{
    color: white;
    margin-right: 15px;
    font-size: 13px;
}
/* Fine footer */



/* Regole di hover */
/* Inizio effetti hover della sidebar */
.lista-tasti-menu ul li:hover{
    filter: brightness(500%);
}
.play-add a:hover .testo-side{
    color: white;
}
.play-add a:hover .icona-playlist{
    background-color: white;
}
.lista-play-side ul li a:hover{
    color: white;
}
.sidebar-bot a:hover .freccia-installa{
    color: white;
}
.sidebar-bot a:hover .testo-installa{
    color: white;
}
/* Fine effetti hover della sidebar */

/* Inizio effetti hover del main */
.contenitore-nav-album-list a:hover{
    color: white;
}
.hover-album{
    position: relative;
    width: 100%;
}
.hover-album:hover img {
    opacity: 0.3;
    cursor: pointer;
}
.play-center {
    transition: .7s ease;
    opacity: 0;
    position: absolute;
    top: 45%;
    left: 51%;
    transform: translate(-50%, -50%);   
}
.hover-album:hover .play-center {
    opacity: 1;
}
.play-button{
    color: white;
    font-size: 5vw;
    cursor: pointer;
}
/* Fine effetti hover del main */

/* Inizio effetti hover del footer */
.nome-brano:hover{
    color: white;
    text-decoration: underline;
    cursor: pointer;
}
.icon-footer-hover:hover{
    color: white;
    cursor: pointer;
}
.fa-play-circle:hover{
    transform: scale(1.1);
}
.barra-verde:hover{
    background-color: #94dd25;
    cursor: pointer;
}
.barra-verde:hover .pallino-barra{
    display: block;
}
.barra-verde-volume:hover{
    background-color: #94dd25;
    cursor: pointer;
}
.barra-verde-volume:hover .pallino-barra-volume{
    display: block;
}
/* Fine effetti hover del footer */
/* Fine regole di hover */



/* Inizio regole responsive */
@media (max-width: 1080px){
    .contenitore-album {
        width: calc(100% / 5 - 20px);  
        text-align: center;
        margin: 10px 10px;
    }
}
@media (max-width: 920px){
    .contenitore-album {
        width: calc(100% / 4 - 20px);  
        text-align: center;
        margin: 10px 10px;
    }
}
@media (max-width: 768px){
    .contenitore-album {
        width: calc(100% / 3 - 20px);  
        text-align: center;
        margin: 10px 10px;
    }
    .footer-sinistra{
        margin-left: 10px;
    }
    .barra-volume{
        width: 15vw;
    }
    .img-brano, footer .fa-heart, footer .fa-folder, footer .fa-list-ul, footer .fa-desktop{
        display: none;
    }
}
@media (max-width: 625px){
    .contenitore-album {
        width: calc(100% / 2 - 20px);  
        text-align: center;
        margin: 10px 10px;
    }
    .img-brano{
        display: none;
    }
    .footer-sinistra{
        margin-left: 10px;
    }
}
@media (max-width: 575px) and (min-width: 370px){
    .contenitore-album {
        width: calc(100% / 2 - 20px);  
        text-align: center;
        margin: 10px 10px;
    }
    .sidebar{
        width: 60px;
    }
    .sidebar-top{
        height: calc(100% - 150px);
    }
    .logo, .play-add, .lista-play-side, .lista-tasti-menu ul .point2 a .testo-side,
    .bordo-home, .testo-side1, .testo-side2, .testo-installa, .testo-profilo, 
    .footer-sinistra, .footer-destra{
        display: none;
    }
    .logo-small{
        display: block;
    }
    .logo-sidebar{
        height: 50px;
    }
    .margine-left-25px{
        margin-left: 0px;
    }
    .lista-tasti-menu{
        margin: 10px 10px;
    }
    .sidebar-bot a{
        border-bottom-style: none;
    }
    .btn-installa{
        margin: 10px 22px;
    }
    .icona-profilo{
        margin-left: 17px;
    }
    .contenitore-main{
        width: calc(100% - 60px); 
    }
    .upgrade-bar{
        width: calc(100% - 60px);
    }
    .contenitore-album img{
        width: 100%;
        margin-bottom: 15px;
    }
    .play-button{
        font-size: 15vw;
    }
    .barra{
        width: 70vw;
    }
    footer{
        justify-content: center;
    }  
}
/* Fine regole responsive */
