/* Inizio regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
.direzione-colonna{
    flex-direction: column;
}
.direzione-riga{
    flex-direction: row;
}
/* Fine regole generali */



/* Inizio menù in side a sinistra */
.side-bar{
    width: 200px;
    height: calc(100vh - 200px);
    background-color: #327fa8;
    position: fixed;
    overflow-y: scroll;
}
.bottom-side{
    width: 200px;
    height: 100px;
    background-color: coral;
    position: fixed;
    bottom: 100px;
}
/* Fine menù in side a sinistra  */



/* Inizio Header */
header{
    height: 100px;
    margin-left: 200px;
    background-color: gray;
}
/* Fine header */



/* Inizio main */
main{
    height: calc(100vh - 100px);
    margin-left: 200px;
    background-color: lightgrey;
    overflow-y: scroll;
}
/* Fine main */



/* Inizio footer */
footer{
    position: fixed;
    height: 100px;
    width: 100%;
    bottom: 0;
    background-color: crimson;
    z-index: 9999;
}
/* Fine footer */